@{
    ViewData["Title"] = "Launching Point For Key Microsoft Technologies";
    ViewData["Description"] = "ASP.NET MVC, .NET Core, Entity Framework, SQL Server, Azure, and more";
}

<div class="text-center">
    <h1 class="display-5">Welcome</h1>
    <h2 class="display-6">This is a launching point for key Microsoft technologies</h2>
    <p><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc">ASP.NET MVC</a></p>     
</div>
<body>
    <div class="background"></div>
    <div class="video-container">
        <video autoplay muted loop>
            <source src="Video/mixkit-road-surrounded-by-mountains-2392-hd-ready.mp4" type="video/mp4">
        </video>
    </div>
</body>