@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>ASP.NET MVC<a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc" </a></p>
</div>
